.feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & article {
    display: flex;
    flex-direction: column;

    & a {
      display: flex;
      flex-direction: column;
      padding-block: 1rem;
      border-radius: 1rem;
      background-color: var(--clr-background-soft);
      transition: transform 100ms ease-in-out;

      & h3 {
        background: linear-gradient(90deg, #512bd4, #689eff);
/*        background-clip: */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2rem;
        font-weight: 900;
      }

      & .date {
        font-size: 0.85rem;
      }

      & h3,
      & .date,
      & .lead {
        white-space: nowrap;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  & article:active {
    transform: scale(0.95)
  }
}
