@namespace Blog.Components.Layout

<header class="h-container">
	<NavLink href="/" class="title">
		<h1>Dialy Blogs</h1>
		<p>with
			<a href="https://dotnet.microsoft.com/" target="_blank">
				.NET @Environment.Version.Major
			</a>
		</p>
	</NavLink>
	<nav class="nav-container">
		<span>by</span>
		<a href="https://github.com/alaedine-douak" target="_blank">
			<img src="https://github.com/alaedine-douak.png" alt="DOUAK Alaeddine" />
			<span class="sr-only">DOUAK Alaeddine</span>
		</a>
	</nav>
</header>