@inherits LayoutComponentBase


<Header/>

<main>
	@Body
</main>
<footer>
	<a href="https://github.com/alaedine-douak/alaedine_blog-mardown" target="_blank">Code</a>
</footer>


<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
  	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>
