article {
   display: flex;
   flex-direction: column;
   gap: 2rem;

   & header {
      & h2 {
         font-size: 2.5rem;
         font-weight: 900;
      }

      & p {
         font-size: 0.85rem;
      }
   }

   & section {

   }
}